@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esto asegura que el fondo siempre sea oscuro y use toda la pantalla */
html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #0f172a; /* slate-900 */
  color: white;
}

/* El scroll personalizado que definimos antes */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}